@implements IDisposable
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" href="index.html">
                <img src="images/brand/logo-white.png" class="header-brand-img desktop-logo" alt="logo">
                <img src="images/brand/icon-white.png" class="header-brand-img toggle-logo"
                     alt="logo">
                <img src="images/brand/icon-dark.png" class="header-brand-img light-logo" alt="logo">
                <img src="images/brand/logo-dark.png" class="header-brand-img light-logo1"
                     alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg>
            </div>
            <ul class="side-menu">
                <li class="sub-category">
                    <h3>Main</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/">
                        <i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span>
                    </a>
                </li>
                <li>
                    <NavLink class="side-menu__item has-link" href="file-manager">
                        <i class="side-menu__icon fe fe-folder"></i>
                        <span class="side-menu__label">Archivos</span>
                    </NavLink>
                </li>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <li class="sub-category">
                            <h3>Administración</h3>
                        </li>
                        @*<li>
                            <NavLink class="side-menu__item has-link" href="admin">
                                <i class="side-menu__icon fe fe-settings"></i>
                                <span class="side-menu__label">Panel Admin</span>
                                <span class="badge bg-danger br-5 side-badge">Admin</span>
                            </NavLink>
                        </li>*@
                        <li>
                            <NavLink class="side-menu__item has-link" href="admin/user-management">
                                <i class="side-menu__icon fe fe-users"></i>
                                <span class="side-menu__label">Gestión de Usuarios</span>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="side-menu__item has-link" href="admin/role-management">
                                <i class="side-menu__icon fe fe-shield"></i>
                                <span class="side-menu__label">Gestión de Roles</span>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="side-menu__item has-link" href="admin/audit-logs">
                                <i class="side-menu__icon fe fe-clipboard"></i>
                                <span class="side-menu__label">Logs de Auditoría</span>
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <div class="slide-right" id="slide-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                     width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg>
            </div>
        </div>
    </div>
</div>

<!--<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>-->
            @*<NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>*@
        <!--</AuthorizeView>
    </nav>
</div>-->

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

