<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Desarrolado para OutCom">
    <meta name="author" content="Softnirix">
    <meta name="keywords" content="publicidad, marketing digital, anuncios online, SEO, SEM, campañas publicitarias, redes sociales, Google Ads, Facebook Ads, promoción de productos, estrategia de marketing, visibilidad online, crecimiento de marca, branding, contenidos publicitarios, marketing en redes, publicidad efectiva, agencia de publicidad">

    <base href="/" />
    @*<link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="app.css" />*@

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- STYLE CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="css/plugins.css" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="css/icons.css" rel="stylesheet">

    <!-- INTERNAL Switcher css -->
    <link href="switcher/css/switcher.css" rel="stylesheet">
    <link href="switcher/demo.css" rel="stylesheet">

    <link rel="stylesheet" href="OutCom.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="app sidebar-mini ltr light-mode">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
